

.CarouselItem {
    display: flex;
    width: 50vw;
    background-color: var(--color-yellow);
}

.carousel-image {
    width: 30vw;
    height: 500px;
    object-fit: cover;
}

.carousel-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 150px;
    width: 100%;
}

.carousel-tag {
    display: flex;
    flex-wrap: wrap;
}

.carousel-tag li {
    margin-right: 40px;
}

.carousel-time-difficulty {
    display: flex;
    justify-content: flex-end;
}

.carousel-time {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.carousel-time img{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}